<!DOCTYPE html>
<html>
<head>
  <title>FeedbinHomepage</title>
  <%= stylesheet_link_tag    "feedbin_homepage/application", media: "all" %>
  <%= javascript_include_tag "feedbin_homepage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
