<!DOCTYPE html>
<html>
<head>
  <title>Feedbin</title>
  <meta name="description" content="A fast, simple RSS feed reader that delivers a great reading experience." />
  <%= stylesheet_link_tag    "feedbin_homepage/application", media: "all" %>
  <%= javascript_include_tag "feedbin_homepage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
